<section class="section aboutUs">
   <div class="aboutUs__info">
      <p class="opacity-text aboutUs__opacity-text">
         About<br class="br">
         us
      </p>
      <h2 class="heading heading-sub aboutUs__heading-sub">
         Lorem ipsum dolor
      </h2>
      <h1 class="heading aboutUs__heading">
         Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </h1>
      <img src="../img/photo1.png" alt="photo girl with map" class="aboutUs__info-photo">
      <p class="paragraph aboutUs__paragraph">
         Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
         Morbi pharetra sit amet lectus id lacinia. Nulla vel tincidunt tellus. 
         Ut lacinia facilisis egestas. 
         Cras quis enim sit amet risus dictum porta vel sed justo. 
         Donec elementum libero ultricies tortor convallis viverra. 
         Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
         Curabitur quis ex magna. Curabitur sed vulputate nunc, et volutpat massa. 
         Maecenas pharetra sem felis, eget accumsan elit ornare eget sodales 
         justo sed elementum efficitur. Nullam lacinia auctor ex, 
         et fermentum lectus tempor lobortis. 
      </p>
      <button class="button aboutUs__button">
         read more
      </button>
   </div>
   <img src="../img/photo1.png" alt="photo girl with map" class="aboutUs__photo">
</section>