<section class="section application">     
   <img src="../img/photo2.png" alt="girl on a platform" class="application__photo">
   
   <form action="" class="application__form">
      <h1 class="heading heading--white application__heading form__heading">
         Interested in working with us?
      </h1>
      <label for="name" class="form__title">
         Your full name         
      </label>
      <div class="input application__input form__input">
         <input 
            name="name"
            type="text"
            placeholder="Your Name"
         >
      </div>

      <label for="email" class="form__title">
         Email
      </label>
      <div class="input application__input form__input">
         <input 
            name="email"
            type="email" 
            placeholder="Your Email"
         >         
      </div>

      <label for="companyName" class="form__title">
         Your Company Name
      </label>
      <div class="input application__input form__input">
         <input 
            name="companyName"
            type="text"
            placeholder="Your Company Name"
         >         
      </div>

      <label for="message" class="form__title">
         Message
      </label>
      <div class="input application__input form__input textarea">
         <textarea 
            name="message" 
            cols="30" 
            rows="10"
            placeholder="Your Message"
         ></textarea>
      </div>

      <button
         type="submit" 
         class="button button--dark form__button"
      >
         Send
      </button>
   </form>
</section>