<header class="header">
   <div class="header__logo">
      <a href="#" class="header__logo">
         <!-- <img src="../img/logo.png" alt="logo" class="header__logo"> -->
         <span class="icon-logo header__logo"></span>
      </a>
   </div>

   <div class="header__mobile">
      <p>menu</p>
   </div>

   <div class="header__navBar">
      <nav class="header__nav">
         <ul class="primary-menu nav__list">
            <li class="nav__item menu-item">
               <a href="#" class="nav__link menu-item__link">
                  What We Do
               </a>
            </li>
            <li class="nav__item menu-item">
               <a href="#" class="nav__link menu-item__link">
                  Services
               </a>
            </li>
            <li class="nav__item menu-item">
               <a href="#" class="nav__link menu-item__link">
                  Insights
               </a>
            </li>
            <li class="nav__item menu-item">
               <a href="#" class="nav__link menu-item__link">
                  Contact Us
               </a>
            </li>
         </ul> 
      </nav>
      <div class="header__login login">
         <a href="#" class="header__link login__link">
            <span class="icon-user"></span>
            Log In
         </a>
      </div>
   </div>
</header>