<section class="section insights">
   <div class="insights__info">
      <p class="opacity-text insights__opacity-text">
         insights 
      </p>

      <h2 class="heading heading-sub insights__heading-sub">
         Lorem ipsum dolor
      </h2>
   
      <h1 class="heading insights__heading">
         Lorem ipsum dolor sit, 
         amet consectetur adipisicing elit.
      </h1>
   </div>

   <div class="insights__slider slider">
      <div class="insights__slide slider__card card">
         <div class="card__photo">
            <img src="../img/post-photo.png" alt="post photo">
         </div>

         <div class="heading card__heading">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
         </div>

         <p class="paragraph paragraph-sub card__paragraph">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Morbi pharetra sit amet lectus id lacinia. Nulla vel tincidunt tellus. 
         </p>
      </div>

      <div class="insights__slide slider__card card">
         <div class="card__photo">
            <img src="../img/post-photo.png" alt="post photo">
         </div>

         <div class="heading card__heading">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
         </div>

         <p class="paragraph paragraph-sub card__paragraph">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Morbi pharetra sit amet lectus id lacinia. Nulla vel tincidunt tellus. 
         </p>
      </div>

      <div class="insights__slide slider__card card">
         <div class="card__photo">
            <img src="../img/post-photo.png" alt="post photo">
         </div>

         <div class="heading card__heading">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
         </div>

         <p class="paragraph paragraph-sub card__paragraph">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Morbi pharetra sit amet lectus id lacinia. Nulla vel tincidunt tellus. 
         </p>
      </div>

      <div class="insights__slide slider__card card">
         <div class="card__photo">
            <img src="../img/post-photo.png" alt="post photo">
         </div>

         <div class="heading card__heading">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
         </div>

         <p class="paragraph paragraph-sub card__paragraph">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Morbi pharetra sit amet lectus id lacinia. Nulla vel tincidunt tellus. 
         </p>
      </div>
   </div>
</section>