<section class="section partners">
   <div class="partners__info">
      <p class="opacity-text partners__opacity-text">
         partners
      </p> 
      <h1 class="heading partners__heading"> 
         We work with the best from the best.
      </h1>
      <p class="paragraph partners__paragraph">
         Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
         Nam tempor est ut nulla pulvinar, interdum porttitor tellus condimentum. 
      </p>
   </div>
   <ul class="partners__list">
      <li class="partners__item">
         <img src="../img/partner1.png" alt="partner icon" class="partners__icon">
      </li>

      <li class="partners__item">
         <img src="../img/partner2.png" alt="partner icon" class="partners__icon">
      </li>

      <li class="partners__item">
         <img src="../img/partner1.png" alt="partner icon" class="partners__icon">
      </li>

      <li class="partners__item">
         <img src="../img/partner2.png" alt="partner icon" class="partners__icon">
      </li>

      <li class="partners__item">
         <img src="../img/partner1.png" alt="partner icon" class="partners__icon">
      </li>

      <li class="partners__item">
         <img src="../img/partner2.png" alt="partner icon" class="partners__icon">
      </li>

      <li class="partners__item">
         <img src="../img/partner1.png" alt="partner icon" class="partners__icon">
      </li>

      <li class="partners__item">
         <img src="../img/partner2.png" alt="partner icon" class="partners__icon">
      </li>

      <li class="partners__item">
         <img src="../img/partner1.png" alt="partner icon" class="partners__icon">
      </li>
   </ul>
</section>