<section class="section services">
   <div class="services__text">
      <h2 class="heading heading-sub services__heading-sub">
         Lorem ipsum dolor
      </h2>
      <h1 class="heading services__heading">
         Lorem ipsum dolor sit, amet consectetur adipisicing elit.
      </h1>
      <p class="paragraph services__paragraph">
         Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
         Morbi pharetra sit amet lectus id lacinia. 
         Nulla vel tincidunt tellus. Ut lacinia facilisis egestas. 
      </p>
   </div>
   <ul class="services__list">
      <li class="services__item">
         <div class="services__icon">
            <img src="../img/icons/atraction.svg" alt="attraction icon" class="services__image">
         </div>
         <p class="paragraph services__item-name">Attractions</p>
      </li>
      <li class="services__item">
         <div class="services__icon">
            <img src="../img/icons/ball.svg" alt="ball icon" class="services__image">            
         </div>
         <p class="paragraph services__item-name">Activities</p>
      </li>
      <li class="services__item">
         <div class="services__icon">
            <img src="../img/icons/medal.svg" alt="medal icon" class="services__image">            
         </div>
         <p class="paragraph services__item-name">Experiences</p>
      </li> 
      <li class="services__item">
         <div class="services__icon">
            <img src="../img/icons/mask.svg" alt="mask icon" class="services__image">            
         </div>
         <p class="paragraph services__item-name">Events</p>
      </li>
      <li class="services__item">
         <div class="services__icon">
            <img src="../img/icons/food.svg" alt="food icon" class="services__image">            
         </div>
         <p class="paragraph services__item-name">Restaurants</p>
      </li>
      <li class="services__item">
         <div class="services__icon">
            <img src="../img/icons/map.svg" alt="map icon" class="services__image">            
         </div>
         <p class="paragraph services__item-name">Transfers</p>
      </li>
      <li class="services__item">
         <div class="services__icon">
            <img src="../img/icons/binocular.svg" alt="binocular icon" class="services__image">            
         </div>
         <p class="paragraph services__item-name">Tours</p>
      </li>
   </ul>
</section>