<section class="section top">
   <img src="../img/big/top-bg.png" alt="background photo" class="top__bg">
   <div class="top__info">      
      <p class="top__subtext">subtext</p>
      <h1 class="heading top__heading heading--white">
         Proactively sell targeted 
         <span class="top__heading--color">in-destination products</span>
         when your traveler is at the destination
      </h1>
      <button class="top__button button">contact us</button>
   </div>
   <a href="#" class="top__button-more">
      scroll for more
   </a>
</section>