.button {
   width: 175px;
   height: 55px;
   border: 1px solid #12161e;
   background-color: #fff;

   color: #12161e;
   font-size: 14px;
   line-height: 23px;
   letter-spacing: 3.5px;
   text-transform: uppercase;
   font-weight: 600px;

   transition: all .5s;

   &:hover {
      cursor: pointer;
      background-color: #12161e;
      color: #fff;
   }

   &:active {
      border-color: #c7c7c7;
      background-color: #d8d8d8;
      color: #9a9a9a;
   }

   &--dark {
      background-color: #12161e;
      color: #fff;
      border-color: #fff;

      &:hover {         
         background-color: #fff;
         color: #12161e;
      }
   }
}