@font-face {
   font-family: 'icomoon';
   src:  url('../../icons/icomoon.eot?3dzqq7');
   src:  url('../../icons/icomoon.eot?3dzqq7#iefix') format('embedded-opentype'),
     url('../../icons/icomoon.ttf?3dzqq7') format('truetype'),
     url('../../icons/icomoon.woff?3dzqq7') format('woff'),
     url('../../icons/icomoon.svg?3dzqq7#icomoon') format('svg');
   font-weight: normal;
   font-style: normal;
   font-display: block;
 }
 
 [class^="icon-"]::before, 
 [class*=" icon-"]::before {
   /* use !important to prevent issues with browser extensions that change fonts */
   font-family: 'icomoon' !important;
   speak: never;
   font-style: normal;
   font-weight: normal;
   font-variant: normal;
   text-transform: none;
   line-height: 1;
 
   /* Better Font Rendering =========== */
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
 }
 
 .icon-logo:before {
   content: "\e900";
   color: #fff;
 }
 .icon-atraction:before {
   content: "\e902";
 }
 .icon-ball:before {
   content: "\e903";
 }
 .icon-binocular:before {
   content: "\e904";
 }
 .icon-food:before {
   content: "\e905";
 }
 .icon-linkedin:before {
   content: "\e906";
 }
 .icon-map:before {
   content: "\e907";
 }
 .icon-mask:before {
   content: "\e908";
 }
 .icon-medal:before {
   content: "\e909";
 }
 .icon-user:before {
   content: "\e90a";
 }